.accueil {
  padding: 30px;
}

.hero {
  min-height: 320px;
  padding: 40px;
  background-color: #f3f4f6;
  border-radius: 18px;
}

.titre {
  margin-bottom: 16px;
  font-weight: 700;
}

.description {
  max-width: 620px;
  margin-bottom: 24px;
  text-align: center;
}