.section {
  padding: 60px 0;
}

.title {
  margin-bottom: 20px;

  font-size: 2rem;
  font-weight: 750;

  color: #102a43;
}

.text {
  max-width: 700px;

  color: #64748b;

  line-height: 1.8;
}

@media (max-width: 768px) {

  .section {
    padding: 40px 0;
  }

}
