.menu {
  align-items: center;
  gap: 8px;
}

.link {
  color: #334155 !important;

  font-size: 15px;
  font-weight: 600;

  padding: 10px 14px !important;

  border-radius: 8px;

  transition: all 0.25s ease;
}

.link:hover {
  color: #007f75 !important;
  background-color: #e9f7f5;
}

.active {
  color: white !important;

  background-color: #007f75;

  font-size: 15px;
  font-weight: 600;

  padding: 10px 14px !important;

  border-radius: 8px;
}

@media (max-width: 991px) {

  .menu {
    align-items: flex-start;
    padding-top: 20px;
  }

}
