.navbar {
  background-color: rgba(255, 255, 255, 0.96);

  border-bottom: 1px solid #e5e7eb;

  box-shadow:
    0 4px 20px rgba(0, 0, 0, 0.05);

  padding: 12px 0;

  backdrop-filter: blur(10px);

  z-index: 1000;
}

.toggle {
  border: none !important;
  box-shadow: none !important;
}
